NODE_ENV="production || development"
SERVER_PORT=3003

DB_NAME="db"
DB_USER="user"
DB_PASS="password"
DB_IP="0.0.0.0"
DB_PROVIDER="mssql || postgres"
DB_PORT="port"

MONGO_NAME="db"
MONGO_USER="usernmae"
MONGO_PASS="password"
MONGO_IP="host"
MONGO_PROVIDER="mongodb"
MONGO_PORT="port"

BASE_PATH="/"
CORS_LIST=["http://localhost:3000", "http://foo", "http://bar"]

SESSION_SECRET="key"